*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #1F1E1E;
}

a{
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}
/* header */
.header {
    background-image: url(../images/background-image/background-image.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.header__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px 0 49px;
}

/* .logo {}

.logo__img {} */

.header__phone {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #ffff;
}

.header__phone-number {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #ffff;
    margin-left: 19px;
    padding: 12px 31px 12px;
    background: #886239;
    border-radius: 22px;
}

.menu {
    width: 100%;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    margin-top: 15px;
    padding: 24px 27px;
}

.menu__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 119%;
    color: #ffff;
}

/* .menu__item {}
.menu__link {} */

.header__title {
    font-family: 'PT Serif',serif;
    font-weight: 700;
    font-size: 90px;
    line-height: 130%;
    color: #1F1E1E;

    text-align: center;
    margin-bottom: auto;

}

/* .header__content {} */

.header__descr {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;

    max-width: 422px;
    margin-bottom: 20px;
}

.header__btn {
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #ffff;

    padding: 19px 55px 20px;
    margin-bottom: 20px;
    background: #886239;
    border-radius: 30px;
}

.header__arrow {
    text-align: center;
    margin-bottom: 15px;
}

/* .headr__arrow-link {}

.header__arrow-img {} */


/* direction */

.direction{
    padding: 100px 0;

}

.direction__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
}

.direction__item {}

.direction__img {
    display: block;
}

.direction__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 119%;
    color: #1F1E1E;

    border: 1px solid #D9D9DE;
    border-top: none;

    padding: 11px 19px 19px;

}


/* travel-info */

.travel-info {
    background-image: url(../images/travel-info/travel-info-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 30px 0 50px;

}

.travel-info__title {
    margin-bottom: 50px;
    color: #ffff;
}

.title {
    font-weight: 500;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
}

.travel-info__items {
    display: grid;
    grid-template-columns:repeat(4, 1fr) ;
    grid-gap: 54px 67px;
}

.travel-info__item {}

.travel-info__img {
    margin-bottom: 15px;
}

.travel-info__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 131%;
    color: #fff;
    
}


/* popular */


.popular {
    padding: 100px 0;
}

.popular__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 116%;

    color: #1F1E1E;

    margin-bottom: 40px;
}

.popular__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 32px;

    padding-bottom: 80px;
    
    border-bottom: 1px solid #D9D9DE;
}

.popular__link {
    padding: 16px 24px 19px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 256px;

}
.popular__link:nth-child(3),
.popular__link:nth-child(6){
    grid-column: span 2;
    grid-row: span 2;
}

.popular__link-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;

    color: #ffff;

    margin-bottom: 15px;
}

.popular__link-title--big{
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
}

.popular__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;

    color: #ffff;
    margin-top: auto;
}

.popular__country {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;

    color: #ffff;
    margin-bottom: 15px;
}

.popular__time {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;

    color: #ffff;
    margin-bottom: 15px;
}

/* map */

.map {
    padding-bottom: 100px;
}


.map__title {
    margin-bottom: 46px;

    font-weight: 500;
    font-size: 36px;
    line-height: 130%;

    color: #1F1E1E;
}


/* about */

.about {
    padding-bottom: 100px;
}

.about__inner {
    display: grid;
    grid-template-columns: 448px 640px;
    grid-gap: 32px;
}

.about__content {}

.about__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 116%;

    color: #1F1E1E;

    text-align: left;

    margin-bottom: 25px;
}

.about__text {
    margin-bottom: 34px;

    font-weight: normal;
    font-size: 18px;
    line-height: 140%;

    color: #1F1E1E;



}

.about__link {
    font-weight: normal;
    font-size: 16px;
    line-height: 118%;

    text-decoration-line: underline;

    color: #C4C4C4;

}

.about__popup {
    background-image: url(../images/popup-img/popup-img.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* gallery */

.gallery {
    padding: 50px 0 105px;
    background: #886239;
    color: #ffff;
}

.gallery__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding-right: 160px;

}

.gallery__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 130%;
}

.gallery__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 118%;
    /* identical to box height */

    text-decoration-line: underline;
}

.gallery__item-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
}

.slick-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: -87px;
    right: 0;
}
.slick-prev{
    right: 60px;
}



/* tour */


.tour {
    padding: 100px 0;
}

.tour__title {
    margin-bottom: 77px;

    font-weight: bold;
    font-size: 36px;
    line-height:130%;

    color: #1F1E1E;

    text-align: center;
    text-transform: uppercase;
}

.tour__box {
    column-count: 2;
    column-gap: 46px;

    border-bottom: 1px solid #D9D9DE;
    margin-bottom: 44px;
    padding-bottom: 50px;
}

.tour__text {
    margin-bottom: 15px;

    font-weight: 400;
    font-size: 18px;
    line-height: 140%;

    color: #1F1E1E;   
}
.tour__text span{
    font-weight: 700;
}

.tour__info {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 70px;
}

.tour__info-item {
    font-family: PT Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    line-height: 130%;

    color: #886239;
    text-align: center;

}

.tour__info-text {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;

    color: #1F1E1E;

    text-align: center;
}


/* booking */

.booking {
    background: #EAEAEA;
    padding: 75px 0;
}

.booking__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 130%;

    text-align: center;

    color: #1F1E1E;

    margin-bottom: 43px;

}

.booking__form {
    max-width: 830px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    margin: 0 auto;
}

.booking__input {
    width: 256px;
    height: 44px;

    background-color: #ffff;

    border: 1px solid #D9D9DE;
    box-sizing: border-box;

    padding: 11px 14px 12px;
    margin-bottom: 28px;
    font-size: 16px;

}

.booking__input::placeholder,
.booking__area::placeholder{
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;

    color: #C4C4C4;
}

.booking__area {
    width: 100%;

    background: #FFFFFF;

    border: 1px solid #D9D9DE;
    box-sizing: border-box;

    padding: 14px;
    margin-bottom: 67px;

    resize: none;
}

.booking__btn {
    border: none;
    background: #886239;
    border-radius: 30px;

    font-weight: normal;
    font-size: 18px;
    line-height: 116%;
    text-align: center;
    color: #ffff;

    padding: 19px 65px 20px;

    cursor: pointer;
}

.booking__btn:hover,
.header__btn:hover {
    background: #f08d24;
}

.booking__label {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 130%;
    text-decoration-line: underline;

    color: #1F1E1E;

    cursor: pointer;
}

.booking__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);

    padding-left: 45px;
}

.booking__checkbox-style{
    position: absolute;

    width: 26px;
    height: 26px;

    border: 2px solid #C4C4C4;
    border-radius: 2px;

    margin-left: -45px;

}

.booking__checkbox:checked + .booking__checkbox-style::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #C4C4C4;
    border: 2px solid rgba(77, 77, 78, 0.411);

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
}


/* footer */

.footer {
    padding: 80px 0;

    background: #1F1E1E;
}

.footer__logo {
    text-align: center;
    margin-bottom: 70px;
}

.footer__box {
    display: flex;
    justify-content: space-between;

    max-width: 830px;
    margin: 0 auto;
}

.footer__info {
    width: 225px;
}

.footer__box-title {
    margin-bottom: 7px;

    font-weight: 500;
    font-size: 14px;
    line-height: 130%;

    color: #ffff;
}

.footer__copy {
    margin-bottom: 3px;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    color: #ffff;
    opacity: 0.8;
}

.footer__link {
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;

    color: #ffff;

    text-decoration-line: underline;
}

.footer__address {
    width: 164px;
}

.footer__address-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;

    color: #FFFFFF;

    opacity: 0.8;
}

.footer__contacts {
    width: 209px;
}

.footer__phone {
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;

    color: #FFFFFF;

    opacity: 0.8;
}

.footer__mail {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;

    color: #FFFFFF;

    opacity: 0.8;
}
.menu__btn{
    display: none;
}



/* @media */

@media (max-width: 1140px){
    .direction__inner{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
    .direction__img{
        width: 100%;
    }
    .about__inner{
        grid-gap: 20px;
        grid-template-columns: 1fr 2fr;
    }
    .gallery__item-inner {
        grid-template-columns: repeat(2, 1fr);
    }
    .gallery__item-img{
        width: 100%;
    }
}

@media (max-width: 990px){
    .popular{
        padding: 60px 0;
    }
    .popular__items{
        grid-gap: 10px;
        padding-bottom: 60px;
    }
    .popular__link{
        min-height: 200px;
    }
    .about{
        padding-bottom: 75px;
    }
    .tour__info {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 35px 20px;
        justify-items: stretch
    }
}

@media (max-width:800px){
    .header__phone span{
        display: none;
    }
    .travel-info__items {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
    }
    .popular__link:nth-child(3),
    .popular__link:nth-child(6){
        grid-column: auto;
        grid-row: auto;
    }
    .popular__items{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    .map{
        padding-bottom: 50px;
    }
    .map__iframe{
        height: 400px;
    }
    .about__inner {
        grid-gap: 20px;
        grid-template-columns: 1fr;
    }
    .about__popup{
        min-height: 430px;
    }
    .about{
        padding-bottom: 50px;
    }
    .gallery{
        padding-bottom: 50px;
    }
    .tour{
        padding: 50px 0;
    }
    .tour__box{
        column-count: 1;
    }
    .tour__title{
        margin-bottom: 40px;
    }
    .tour__info {
        grid-template-columns: repeat(2, 1fr);
    }
    .booking{
        padding: 50px 0;
    }
    .booking__input{
        width: 100%;
    }
    .booking__label{
        width: 100%;
        margin-left: 50px;
        margin-top: -190px;
    }
    .footer{
        padding: 50px 0;
    }
    .footer__logo{
        margin-bottom: 35px;
    }
    .footer__box{
        display: block;
        text-align: center;
    }
    .footer__info,
    .footer__address,
    .footer__contacts {
        margin: 0 auto 25px;
    }
}

@media (max-width: 560px){
    .header__title{
        font-size: 50px;
        color: #ffff;
    }
    .header__descr{
        color: #ffff;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    } 

    .menu__btn{
        display: inline-block;

        width: 40px;
        height: 26px;

        border: none;

        background-color: transparent;

        padding: 0;

        position: absolute;
        right: 10px;
        top: 108px;
    }
    .menu__btn::after,
    .menu__btn::before{
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        height: 2px;
        background-color: #fff;
    }
    .menu__btn::before{
        top: 0;
    }
    .menu__btn::after{
        bottom: 0;
    }
    .menu__btn span{
        display: block;
        height: 2px;
        background-color: #fff;
    }
    .menu__list{
        display: block;
        background-color: #886239;
        padding: 10px 0;
        transform: translateY(-200%);
        position: absolute;
        left: 0;
        right: 0;
    }
    .menu__list.menu__list--active{
        transform: translateY(0);
        border-radius: 30px;

        box-shadow: 0px 7px 20px rgb(48 30 30 / 100%),
        0px 20px 30px rgb(449 150 60 / 50%),
        0px 20px 40px rgb(10 20 40 / 50%);
        transition: all .5s;
    }
    .menu__link{
        display: block;
        padding: 10px;
        text-align: center;
    }
    .logo{
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    /* .header__top{
        justify-content: center;
    } */
    .header__phone-number{
        margin-left: 0;
    }
    .menu{
        border: none;
    }
    .header__btn{
        display: flex;
        justify-content: center;
    }

    .direction__inner {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    .direction{
        padding: 50px 0;
    }
    .travel-info__items {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }

    .popular__link:nth-child(3),
    .popular__link:nth-child(6) {
        grid-column: auto;
        grid-row: auto;
    }

    .popular__items {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
    .popular__title{
        font-size: 29px;
    }

    .about__popup {
        min-height: 316px;
    }
    .about{
        padding-bottom: 25px;
    }
    .gallery__item-inner {
        grid-template-columns: repeat(1, 1fr);
    }
    .gallery__title{
        width: 100%;
        text-align: left;
        padding-bottom: 10px;
    }
    .gallery__top{
        flex-wrap: wrap;
    }
}
@media (max-width: 400px){
    .direction__inner {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }
    .direction {
        padding: 25px 0;
    }
    .travel-info__items {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
    .travel-info__title{
        font-size: 29px;
    }
    .popular__title {
        font-size: 28px;
    }
    .about__popup {
        min-height: 270px;
    }
    .tour__info {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 25px 15px;
        justify-items: stretch
    }
}