*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #1F1E1E;
}

a{
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}
/* header */
.header {
    background-image: url(../images/background-image/background-image.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.header__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px 0 49px;
}

/* .logo {}

.logo__img {} */

.header__phone {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #ffff;
}

.header__phone-number {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #ffff;
    margin-left: 19px;
    padding: 12px 31px 12px;
    background: #886239;
    border-radius: 22px;
}

.menu {
    width: 100%;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    margin-top: 15px;
    padding: 24px 27px;
}

.menu__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 119%;
    color: #ffff;
}

/* .menu__item {}
.menu__link {} */

.header__title {
    font-family: 'PT Serif',serif;
    font-weight: 700;
    font-size: 90px;
    line-height: 130%;
    color: #1F1E1E;

    text-align: center;
    margin-bottom: auto;

}

/* .header__content {} */

.header__descr {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;

    max-width: 422px;
    margin-bottom: 20px;
}

.header__btn {
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #ffff;

    padding: 19px 55px 20px;
    margin-bottom: 20px;
    background: #886239;
    border-radius: 30px;
}

.header__arrow {
    text-align: center;
    margin-bottom: 15px;
}

/* .headr__arrow-link {}

.header__arrow-img {} */


/* direction */

.direction{
    padding: 100px 0;

}

.direction__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
}

.direction__item {}

.direction__img {
    display: block;
}

.direction__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 119%;
    color: #1F1E1E;

    border: 1px solid #D9D9DE;
    border-top: none;

    padding: 11px 19px 19px;

}


/* travel-info */

.travel-info {
    background-image: url(../images/travel-info/travel-info-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 30px 0 50px;

}

.travel-info__title {
    margin-bottom: 50px;
    color: #ffff;
}

.title {
    font-weight: 500;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
}

.travel-info__items {
    display: grid;
    grid-template-columns:repeat(4, 1fr) ;
    grid-gap: 54px 67px;
}

.travel-info__item {}

.travel-info__img {
    margin-bottom: 15px;
}

.travel-info__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 131%;
    color: #fff;
    
}


/* popular */


.popular {
    padding: 100px 0;
}

.popular__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 116%;

    color: #1F1E1E;

    margin-bottom: 40px;
}

.popular__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 32px;

    padding-bottom: 80px;
    
    border-bottom: 1px solid #D9D9DE;
}

.popular__link {
    padding: 16px 24px 19px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 256px;

}
.popular__link:nth-child(3),
.popular__link:nth-child(6){
    grid-column: span 2;
    grid-row: span 2;
}

.popular__link-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;

    color: #ffff;

    margin-bottom: 15px;
}

.popular__link-title--big{
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
}

.popular__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;

    color: #ffff;
    margin-top: auto;
}

.popular__country {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;

    color: #ffff;
    margin-bottom: 15px;
}

.popular__time {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;

    color: #ffff;
    margin-bottom: 15px;
}

/* map */

.map {
    padding-bottom: 100px;
}


.map__title {
    margin-bottom: 46px;

    font-weight: 500;
    font-size: 36px;
    line-height: 130%;

    color: #1F1E1E;
}

